In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
df = pd.read_excel('Datasets(MLtraining)draft(1).xlsx')

In [4]:
df.head()

,NAME,AGE,LOCATION,SKILLS,INTEREST ( purpose of connection)
0,NaN,NaN,NaN,NaN,NaN
1,Shivani Kapahi,21.0,Anna Nagar,Development;Research;Designing,Scholarships;Hackathons;Research Papers;Projects
2,Tarkeshwar,22.0,Ambattur,Development;Competitive Coding,NaN
3,Suraj Verma,21.0,Pallavaram,Development,NaN
4,Kamal,22.0,Virugambakkam,NaN,NaN

In [5]:
df.isna().sum()

NAME                                   1
AGE                                    1
LOCATION                               1
SKILLS                               469
INTEREST ( purpose of connection)    883
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df['skills_and_interests'] = df['SKILLS'] + ';' + df['INTEREST ( purpose of connection)']

In [13]:
df.head()

,NAME,AGE,LOCATION,SKILLS,INTEREST ( purpose of connection),skills_and_interests
1,Shivani Kapahi,21.0,Anna Nagar,Development;Research;Designing,Scholarships;Hackathons;Research Papers;Projects,Development;Research;Designing;Scholarships;Ha...
5,Hari,22.0,Thirumazhisai,Development,Hackathons;Coding Competitions;Projects,Development;Hackathons;Coding Competitions;Pro...
6,Dinesh Kumar,21.0,Moolakadai,Development;Research,Scholarships;Hackathons;Coding Competitions;Pr...,Development;Research;Scholarships;Hackathons;C...
10,Sheeshpal Singh,22.0,Anna Nagar,Competitive Coding,Coding Competitions,Competitive Coding;Coding Competitions
12,Mithlesh Kumar,21.0,Pammal,Competitive Coding,Projects,Competitive Coding;Projects

In [30]:
df.columns

Index(['NAME ', 'AGE ', 'LOCATION ', 'SKILLS',
       'INTEREST ( purpose of connection)', 'skills_and_interests'],
      dtype='object')

In [14]:
vectorizer = CountVectorizer(tokenizer=lambda x: x.split(';'))

In [15]:
skill_interest_matrix = vectorizer.fit_transform(df['skills_and_interests'])

C:\Users\ssanj\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [16]:
similarity_matrix = cosine_similarity(skill_interest_matrix)

In [17]:
similarity_matrix

array([[1.        , 0.56694671, 0.77151675, ..., 0.43643578, 0.21821789,
        0.26726124],
       [0.56694671, 1.        , 0.81649658, ..., 0.28867513, 0.28867513,
        0.35355339],
       [0.77151675, 0.81649658, 1.        , ..., 0.23570226, 0.23570226,
        0.28867513],
       ...,
       [0.43643578, 0.28867513, 0.23570226, ..., 1.        , 0.33333333,
        0.40824829],
       [0.21821789, 0.28867513, 0.23570226, ..., 0.33333333, 1.        ,
        0.81649658],
       [0.26726124, 0.35355339, 0.28867513, ..., 0.40824829, 0.81649658,
        1.        ]])

In [33]:
def get_top_similar_users(user_id, n=10):
    user_index = df.index[df['NAME '] == user_id][0]
    user_similarities = similarity_matrix[user_index]
    similar_users = [(df.iloc[i]['NAME '], score) for i, score in enumerate(user_similarities) if i != user_index]
    similar_users.sort(key=lambda x: x[1], reverse=True)
    return similar_users[:n]

In [34]:
user_id = 'Hari' 
top_similar_users = get_top_similar_users(user_id)
print(f"Top similar users for {user_id}:")
for user, similarity_score in top_similar_users:
    print(f"User: {user}, Similarity Score: {similarity_score:.2f}")

Top similar users for Hari:
User: Umesh Kumar, Similarity Score: 1.00
User: Suraj Verma, Similarity Score: 1.00
User: Krishna, Similarity Score: 1.00
User: Gopal, Similarity Score: 1.00
User: Dinesh Kumar, Similarity Score: 1.00
User: Kamal, Similarity Score: 1.00
User: Jitendra Ashok Ughade, Similarity Score: 1.00
User: Gopal, Similarity Score: 1.00
User: Vineet Kumar, Similarity Score: 0.82
User: Ramkishore Ray, Similarity Score: 0.82